In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mutual_info_score, accuracy_score, mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = !wget https://archive.ics.uci.edu/static/public/222/bank+marketing.zip

In [3]:
!sudo apt-get install unzip

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
unzip is already the newest version (6.0-28ubuntu4.1).
0 upgraded, 0 newly installed, 0 to remove and 113 not upgraded.

In [4]:
!ls

'01 homework.ipynb'	 bank+marketing.zip.20	 laptops.csv.12
'01 intro'		 bank+marketing.zip.3	 laptops.csv.13
'02 homework.ipynb'	 bank+marketing.zip.4	 laptops.csv.14
'03 homework.ipynb'	 bank+marketing.zip.5	 laptops.csv.15
 bank+marketing.zip	 bank+marketing.zip.6	 laptops.csv.16
 bank+marketing.zip.1	 bank+marketing.zip.7	 laptops.csv.17
 bank+marketing.zip.10	 bank+marketing.zip.8	 laptops.csv.18
 bank+marketing.zip.11	 bank+marketing.zip.9	 laptops.csv.2
 bank+marketing.zip.12	 bank-additional.zip	 laptops.csv.3
 bank+marketing.zip.13	 bank-full.csv		 laptops.csv.4
 bank+marketing.zip.14	 bank-names.txt		 laptops.csv.5
 bank+marketing.zip.15	 bank.csv		 laptops.csv.6
 bank+marketing.zip.16	 bank.zip		 laptops.csv.7
 bank+marketing.zip.17	 laptops.csv		 laptops.csv.8
 bank+marketing.zip.18	 laptops.csv.1		 laptops.csv.9
 bank+marketing.zip.19	 laptops.csv.10
 bank+marketing.zip.2	 laptops.csv.11

In [5]:
!unzip -o bank+marketing.zip

Archive:  bank+marketing.zip
 extracting: bank.zip
 extracting: bank-additional.zip

In [6]:
!unzip -o bank.zip

Archive:  bank.zip
  inflating: bank-full.csv
  inflating: bank-names.txt
  inflating: bank.csv

In [7]:
df = pd.read_csv("bank-full.csv", sep=';')

In [8]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [9]:
categories = [
                'age',
                'job',
                'marital',
                'education',
                'balance',
                'housing',
                'contact',
                'day',
                'month',
                'duration',
                'campaign',
                'pdays',
                'previous',
                'poutcome',
                'y'
]

In [10]:
df = df[categories]

In [11]:
df

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,825,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,1729,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,5715,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,668,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,2971,no,cellular,17,nov,361,2,188,11,other,no

In [12]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

**Question 1**

What is the most frequent observation (mode) for the column education?

unknown
primary
secondary
tertiary

In [13]:
df.education.mode()

0    secondary
Name: education, dtype: object

In [14]:
df.dtypes

age           int64
job          object
marital      object
education    object
balance       int64
housing      object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [15]:
numerical = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

**Question 2**

Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

age and balance
day and campaign
day and pdays
pdays and previous

In [16]:
df.age.corr(df.balance)

0.09778273937134742

In [17]:
df.day.corr(df.campaign)

0.1624902163261929

In [18]:
df.day.corr(df.pdays)

-0.09304407377294044

In [19]:
df.pdays.corr(df.previous)

0.4548196354805016

In [20]:
df

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,825,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,1729,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,5715,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,668,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,2971,no,cellular,17,nov,361,2,188,11,other,no

In [21]:
#y_dict = df[['y']].to_dict(orient='records')

In [22]:
#y_dict

In [23]:
#dv = DictVectorizer(sparse=False)

In [24]:
#y_vector = dv.fit_transform(y_dict)

In [25]:
#y_vector = y_vector.flatten()

Target encoding
Now we want to encode the y variable.
Let's replace the values yes/no with 1/0

In [26]:
#df['y'] = pd.Series(y_vector.astype(int))
df['y'] = (df.y == 'yes').astype(int)
df

/tmp/ipykernel_4250/2755913605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'] = (df.y == 'yes').astype(int)

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,825,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,1729,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,5715,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,668,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,2971,no,cellular,17,nov,361,2,188,11,other,0

Split the data
Split your data in train/val/test sets with 60%/20%/20% distribution.
Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
Make sure that the target value y is not in your dataframe.

In [27]:
#df

In [28]:
SEED = 42

In [29]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=SEED)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=SEED)

In [30]:
len(df_train), len(df_val), len(df_test)

(27126, 9042, 9043)

In [31]:
len(df)

45211

In [32]:
#df_train

In [33]:
y_train = df_train.y.values
y_val = df_val.y.values
y_test = df_test.y.values

In [34]:
y_train

array([0, 0, 0, ..., 0, 1, 0])

In [35]:
del df_train['y']
del df_val['y']
del df_test['y']

In [36]:
#df_train

**Question 3**

Calculate the mutual information score between y and other categorical variables in the dataset. Use the training set only.
Round the scores to 2 decimals using round(score, 2).
Which of these variables has the biggest mutual information score?

contact
education
housing
poutcome

In [37]:
mutual_info_score(df_train.contact, y_train)

0.013356062198247233

In [38]:
mutual_info_score(df_train.education, y_train)

0.0026967549991296393

In [39]:
mutual_info_score(df_train.housing, y_train)

0.010343105891750026

In [40]:
mutual_info_score(df_train.poutcome, y_train)

0.029532821290439187

**Question 4**

Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
What accuracy did you get?

In [41]:
dv = DictVectorizer(sparse=False)
train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

In [42]:
model = LogisticRegression(solver='liblinear', max_iter=1000, C=10, random_state=SEED)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [43]:
val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

y_pred = model.predict(X_val)

In [44]:
accuracy = np.round(accuracy_score(y_val, y_pred),2)
print(f'Accuracy = {accuracy}')

Accuracy = 0.9

**Question 5**

Let's find the least useful feature using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
Which of following feature has the smallest difference?

age
balance
marital
previous
Note: The difference doesn't have to be positive.

In [45]:
features = df_train.columns.to_list()
features

['age',
 'job',
 'marital',
 'education',
 'balance',
 'housing',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome']

In [46]:
original_score = accuracy
scores = pd.DataFrame(columns=['eliminated_feature', 'accuracy', 'difference'])
for feature in features:
    subset = features.copy()
    subset.remove(feature)
    
    dv = DictVectorizer(sparse=False)
    train_dict = df_train[subset].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    model = LogisticRegression(solver='liblinear', max_iter=1000, C=10, random_state=SEED)
    model.fit(X_train, y_train)
    
    val_dict = df_val[subset].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    y_pred = model.predict(X_val)
    score = accuracy_score(y_val, y_pred)
    
    scores.loc[len(scores)] = [feature, score, original_score - score]

scores

In [49]:
#min_diff = scores.difference.min()
#scores[scores.difference == min_diff]
scores

   eliminated_feature  accuracy  difference
0                 age  0.901681   -0.001681
1                 job  0.901570   -0.001570
2             marital  0.900243   -0.000243
3           education  0.900796   -0.000796
4             balance  0.900907   -0.000907
5             housing  0.901128   -0.001128
6             contact  0.900796   -0.000796
7                 day  0.901349   -0.001349
8               month  0.899801    0.000199
9            duration  0.888963    0.011037
10           campaign  0.899690    0.000310
11              pdays  0.901017   -0.001017
12           previous  0.901349   -0.001349
13           poutcome  0.893829    0.006171

**Question 6**

Now let's train a regularized logistic regression.
Let's try the following values of the parameter C: [0.01, 0.1, 1, 10, 100].
Train models using all the features as in Q4.
Calculate the accuracy on the validation dataset and round it to 3 decimal digits.
Which of these C leads to the best accuracy on the validation set?

In [48]:
dv = DictVectorizer(sparse=False)
train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)
SEED = 42
for c in [0.01, 0.1, 1, 10, 100]:
    model = LogisticRegression(solver='liblinear', max_iter=1000, C=c, random_state=SEED)
    model.fit(X_train, y_train)

    val_dict = df_val.to_dict(orient='records')
    X_val = dv.transform(val_dict)

    y_pred = model.predict(X_val)

    accuracy = np.round(accuracy_score(y_val, y_pred),3)
    print(f'{c} Accuracy = {accuracy}')

0.01 Accuracy = 0.898
0.1 Accuracy = 0.901
1 Accuracy = 0.901
10 Accuracy = 0.902
100 Accuracy = 0.901